repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [
          "httpx==0.28.1",
          "orjson==3.11.5",
          "packaging==25.0",
          "types-xmltodict==v1.0.1.20250920"
        ]
        exclude: ^tests/
