black==23.10.1
flake8==6.1.0
flake8-docstrings==1.7.0
flake8-noqa==1.3.2
isort==5.12.0
mypy==1.6.1
pydocstyle==6.3.0
pytest
pytest-asyncio
pytest-cov
respx==0.20.2
ruff==0.1.3
types-orjson==3.6.2
types-xmltodict==v0.13.0.3
